.header {
  margin: 0 auto 0;
  padding: 35px 35px;
  align-items: center;
  text-align: center;
}

.header__logo {
  height: 70px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 30px 30px;
  }

  .header__logo {
    height: 66px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding: 20px 0px;
  }

  .header__logo {
    height: 52px;
  }
}
