body {
  background-color: #2a2c2f;
}

.page {
  max-width: 985px;
  min-width: 320px;
  margin: 0 auto 0;

  /* FONT */

  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 16px;
}
