.photo-grid {
  padding: 26px 0 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
}

.photo-grid__image {
  width: 100%;
}

@media screen and (max-width: 1024px) and (min-width: 545px) {
  .photo-grid {
    padding: 0px 24px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    padding: 0px 10px 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 12px;
  }
}
